{% extends "parent.html" %}
{% load static %}
{% block body %}
<div class="row subsequent-div">
    <div class="col-sm-12 ">
        <h1 class="" style="text-align:center;">ABOUT US</h1>
        <hr class="w-25  mx-auto my-2" style="color:black">
        <h5 style="text-align:center;"></h5>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">

        <h2 class="text-center">Welcome to Wanderlust Adventures!</h2>
        <br>
        <br>

        <h4>At Wanderlust Adventures, we believe that travel is not just about the destination, but about the journey
            and the experiences that come along the way. Founded by a group of passionate explorers, our mission is to
            inspire and empower travelers to discover the world's hidden gems, immerse themselves in diverse cultures,
            and create unforgettable memories.</h4>
        <br><br><br>
        <h3>Our Story</h3>
        <br>
        <h4>Our story began with a simple idea: to make travel accessible, enjoyable, and meaningful for everyone.
            Having traversed through bustling cities, serene landscapes, and remote villages, we realized that every
            place has a unique story to tell. We wanted to share these stories and the joy of travel with a broader
            audience, which led to the birth of Travel Sync.</h4>
        <br><br>
        <br>

        <h3>Why Choose Us?</h3>
        <br>
        <h4> -Passion for Travel: Our team is made up of avid travelers who bring their firsthand knowledge and
            enthusiasm to every aspect of our service. We're committed to helping you experience the world in the most
            enriching way possible.</h4>
        <br>
        <h4>-Personal Touch: We understand that every traveler is unique. That's why we take the time to get to know you
            and your travel preferences, ensuring that your trip is perfectly tailored to your needs and desires.</h4>
        <br>
        <h4> - Sustainable Travel: We believe in responsible tourism that respects and preserves the environment and
            local communities. We promote sustainable travel practices and work with partners who share our commitment
            to sustainability.</h4>
        <br>
        <h4>- 24/7 Support: Travel can be unpredictable, but we're here to help you navigate any challenges that arise.
            Our support team is available around the clock to assist you before, during, and after your trip.</h4>
        <br>


        <h3>Happy travels!</h3>

        <h3>Travel Sync Team</h3>

        <h3 class="text-center">Team Members</h3>
<br><br><br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-5">
        <div class="card" style="width: 20rem;">
            <img src="{% static 'images//saad3.jpg' %}" width="100" height="200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Saad Faisal</h5>
                <p class="card-text">MCA 2024 Batch Passout</p>
                <a href="https://www.instagram.com/saad._oo7/" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>


        <div class="col-5">
            <div class="card" style="width: 20rem;">
                <img src="{% static 'images//rini.png' %}" width="100" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rini Shukla</h5>
                    <p class="card-text">MCA 2024 Batch Passout</p>
                    <a href="https://www.instagram.com/shruti_shukla30/" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-1"></div>


</div>
{% endblock body %}