{% extends "parent.html" %}

{% block body %}
<div class="row subsequent-div">
    <div class="col-sm-12 ">
<h1 class="" style="text-align:center;">Chatbot</h1>
<hr class="w-25  mx-auto my-2" style="color:black">
<h5 style="text-align:center;"></h5>
</div> 
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <iframe width="470" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/52286e6b-cdd3-462a-987e-188de63c4b64"></iframe>
    </div>
</div>
{% endblock body %}