{% extends "parent.html" %}

{% block body %}
<div class="row subsequent-div">
    <div class="col-sm-12 ">
<h1 class="" style="text-align:center;">Travel Industry Glossary</h1>
<hr class="w-25  mx-auto my-2" style="color:black">
<h5 style="text-align:center;">A glossary of travel industry terms and definitions. Learn the language of the travel industry. Plan your trip with confidence.</h5>
</div> 
</div>
<div class="row">
    <div class="col-sm-3">
        <h5><U>A</U></h5>
        <ul>
            <li>Accessible Tourism</li>
            <li>ADR</li>
            <li>Adventure Parks</li>
            <li>Artificial Intelligence in Travel</li>
            <li>Augmented Hospitality</li>
            <li>All-Inclusive</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h5><U>B</U></h5>
        <ul>
            <li>Bespoke Itineraries</li>
            <li>Bucket List</li>
            <li>Biosecurity Measures</li>
            <li>Biometric Passport</li>
            <li>Baggage Handler</li>
            <li>Biohotel</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h5><U>C</U></h5>
        <ul>
            <li>Capsule Hotel</li>
            <li>Charter Flight</li>
            <li>Cabin Class</li>
            <li>Check-In</li>
            <li>Cruise Line</li>
            <li>Connecting Flight</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h5><U>D</U></h5>
        <ul>
            <li>Dark Tourism</li>
            <li>Day Rate</li>
            <li>Direct Booking</li>
            <li>Duty Free</li>
            <li>Disruptive Travel Technologies</li>
            <li>Digital Nomad</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h5><U>E</U></h5>
        <ul>
            <li>E-Ticket</li>
            <li>Eco-Label</li>
            <li>Eco-Tourism</li>
            <li>Electronic Travel Authentication</li>
            <li>eSIM for Travelers</li>
            <li>Excrusion</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h5><U>F</U></h5>
        <ul>
            <li>Food Tourism</li>
            <li>Requent Flyer</li>
            <li>Flash Sale</li>
            <li>Festival Tourism</li>
            <li>FIT</li>
            <li>Farm Stay</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h5><U>G</U></h5>
        <ul>
            <li>Geo Tourismn</li>
            <li>Gate</li>
            <li>Ghost Tourism</li>
            <li>Guest History</li>
            <li>Cruise Line</li>
            <li>Global Entry</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h5><U>H</U></h5>
        <ul>
            <li>Heritage Tourism</li>
            <li>High Season</li>
            <li>Hostel</li>
            <li>Hub Airpot</li>
            <li>Haptic Technology in Travel</li>
            <li>High Altitude Training Camps</li>
        </ul>
    </div>
</div>
{% endblock body %}