{% extends "parent.html" %}
{% load static %}
{% block body %}
<div class="row subsequent-div">
    <div class="col-sm-6">
        <div class="card text-center" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; background-color:#FEEFAD;">
            <div class="card-body">
                <h1 style="font-family:cursive" class="">Here's your itinerary <i class="fa-solid fa-plane"></i></h1>
                <hr class="w-50 mx-auto my-3" style="color:black">
                <h3 style="font-family:cursive"><strong>Manali</strong>-Where Every Season Paints a Different Dream</h3>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 1: Arrival and Local Exploration</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Arrive in Manali and check into your accommodation.</li>
                                <li><u>Afternoon:</u> Explore the local markets like Mall Road and Old Manali. Visit Hadimba Temple, a beautiful wooden temple surrounded by cedar forests.</li>
                                <li><u>Evening:</u> Enjoy dinner at a local restaurant and stroll around the town.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 2: Solang Valley Adventure</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Head to Solang Valley for adventure activities like paragliding, zorbing, and horse riding.</li>
                                <li><u>Afternoon:</u>  Have lunch at one of the cafes in Solang Valley and continue with more activities or relax amidst the stunning views.</li>
                                <li><u>Evening:</u>Return to Manali and spend a relaxed evening exploring more of the town's charm..</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 3: Rohtang Pass Excursion</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Depart early for a day trip to Rohtang Pass, enjoying breathtaking landscapes along the way.</li>
                                <li><u>Afternoon:</u> Spend time at Rohtang Pass, indulge in snow activities (if visiting in the appropriate season), and soak in the panoramic views.</li>
                                <li><u>Evening:</u> Return to Manali and unwind with a warm meal and perhaps a leisurely walk.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 4: Naggar Castle and Art Exploration/h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u>  Visit Naggar Castle, a historic royal residence with stunning architecture and panoramic views of the Kullu Valley.
                                </li>
                                <li><u>Afternoon:</u> Explore Naggar's art galleries, showcasing traditional and contemporary Himalayan art.</li>
                                <li><u>Evening:</u> Return to Manali and relax with dinner at a local eatery.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 5: Manikaran Excursion</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u>Take a day trip to Manikaran, known for its hot springs and spiritual significance for both Sikhs and Hindus..</li>
                                <li><u>Afternoon:</u> Visit the Gurudwara and temples in Manikaran and enjoy a dip in the hot springs.</li>
                                <li><u>Evening:</u>  Return to Manali and spend your last evening exploring any spots you may have missed or simply unwind.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-sm-6">
                <!-- Gallery -->
                
<div class="row mt-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{% static 'images//M1.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="{% static 'images//M2.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{% static 'images//M3.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="{% static 'images//M4.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{% static 'images//M5.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="{% static 'images//M6.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->
            </div>
        </div>
    </div>
</div>

{% endblock body %}