{% extends "parent.html" %}
{% load static %}
{% block body %}
<div class="row subsequent-div">
    <div class="col-sm-6">
        <div class="card text-center" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; background-color:#FEEFAD;">
            <div class="card-body">
                <h1 style="font-family:cursive" class="">Here's your itinerary <i class="fa-solid fa-plane"></i></h1>
                <hr class="w-50 mx-auto my-3" style="color:black">
                <h3 style="font-family:cursive"><strong>Varanasi</strong>-The City of Devotion</h3>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 1: Arrival and Ganges River Evening Ceremony</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Arrive in Varanasi and check into your accommodation.</li>
                                <li><u>Afternoon:</u> Explore the bustling streets of Varanasi, visit the local markets, and try some street food.</li>
                                <li><u>Evening:</u> Witness the mesmerizing Ganga Aarti ceremony on the ghats of the Ganges River. Participate in a boat ride to see the ceremony from the river, offering a unique perspective.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 2: Spiritual Exploration</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Visit the Kashi Vishwanath Temple, one of the holiest Hindu temples dedicated to Lord Shiva.</li>
                                <li><u>Afternoon:</u> Explore Sarnath, where Buddha gave his first sermon. Visit the Dhamek Stupa, Mulagandha Kuti Vihar, and Sarnath Archaeological Museum.</li>
                                <li><u>Evening:</u> Return to Varanasi and spend some time exploring the city's vibrant street life and markets.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 3: Cultural Immersion</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Take a sunrise boat ride on the Ganges River to witness the ghats come to life with morning rituals and activities.</li>
                                <li><u>Afternoon:</u> Visit the Banaras Hindu University (BHU) campus and the Bharat Kala Bhavan Museum to learn about the art and culture of Varanasi.</li>
                                <li><u>Evening:</u> Attend a classical music or dance performance to experience the rich cultural heritage of the city.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 4: Temples and Silk</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Explore the historic temples of Varanasi, including the Durga Temple, Sankat Mochan Hanuman Temple, and Tulsi Manas Temple.
                                </li>
                                <li><u>Afternoon:</u> Visit the Weaver's Village to see the intricate process of weaving Banarasi silk sarees. You can also shop for souvenirs and traditional textiles.</li>
                                <li><u>Evening:</u> Enjoy a leisurely stroll along the ghats, taking in the sights and sounds of the city.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mt-3"  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                    <div class="card-body border border-3 border-dark" style="background-color:#E8DFCA">
                        <h5>Day 5: Varanasi Exploration</h5>
                        <p>
                            <ul>
                                <li><u>Morning:</u> Visit the Ramnagar Fort, located on the eastern bank of the Ganges River. Explore the fort and its museum, which houses a collection of vintage cars, royal artifacts, and manuscripts.</li>
                                <li><u>Afternoon:</u> Take a guided walking tour of Varanasi's narrow lanes, visiting hidden temples, traditional workshops, and old havelis (mansions).</li>
                                <li><u>Evening:</u> Enjoy a farewell dinner at a rooftop restaurant overlooking the Ganges River, reflecting on your memorable experiences in Varanasi.</li>
    
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-sm-6">
                <!-- Gallery -->
                
<div class="row mt-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{% static 'images//V1.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="{% static 'images//V2.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{% static 'images//V3.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="{% static 'images//V4.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{% static 'images//V5.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="{% static 'images//V.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->
            </div>
        </div>
    </div>
</div>

{% endblock body %}