{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Change Password</h1>   
            <form class="form-group" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table text-light" style="width: 60%;margin: auto;">
                <tr>
                    <td>Enter old Password</td>
                    <td><input type="text" name="oldpassword" class="form-control text-light"></td>
                </tr>
                <tr>
                    <td>Enter new Password</td>
                    <td><input type="text" name="newpassword" class="form-control text-light"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="text" name="confpassword" class="form-control text-light"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-success">Change</button>
                    </td>
                </tr>
              </table>
              </form>
        </div>
    </div>
{% endblock body %}
